{% extends "base.html" %}
{% load static %}
{% load socialaccount %}
{% load account %}

{% block head_title %}로그인{% endblock %}

{% block content %}
<div class="container-kds">
    <div class="login-form-kds">
        <h2>로그인</h2>

        <div class="login-form-bottom-kds">
            <form method="post" action="{% url 'account_login' %}" id="login-form-inner-kds">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">로그인</button>
            </form>

            <hr>

            <div class="social-login-container-kds">
                <h3>소셜 로그인</h3><br>
                <a href="{% provider_login_url 'google' %}">구글로 로그인</a><br>
                <a href="{% provider_login_url 'kakao' %}">카카오로 로그인</a><br>
                <a href="{% provider_login_url 'naver' %}">네이버로 로그인</a>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}
