{% extends "base.html" %}
{% load static %}
{% load socialaccount %}
{% load account %}

{% block head_title %}회원가입{% endblock %}

{% block content %}
<h2>회원가입(테스트)</h2>

<form method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">회원가입</button>
</form>

<hr>

<h3>소셜 계정으로 가입하기</h3>
<a href="{% provider_login_url 'google' %}">구글로 가입</a><br>
<a href="{% provider_login_url 'kakao' %}">카카오로 가입</a><br>
<a href="{% provider_login_url 'naver' %}">네이버로 가입</a>
{% endblock %}