html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/static/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.headnav-kds {
    display: flex;
    background-color: var(--purple);
    justify-content: space-between;
    padding: 20px 80px 20px 80px;
}

.left-nav-kds > a {
    color: var(--orange);
    font-size: var(--font-lg);
    font-weight: bold;
}

.right-nav-kds {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-xl);
}

.right-nav-kds > a {
    color: var(--orange);
    font-size: var(--font-md);
    font-weight: bold;
}

.container-kds {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logout-form-kds {
    background-color: var(--purple);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 40%;
    min-height: 500px;
    margin: 50px 50px 50px 50px;
    padding: 30px;
    gap: var(--gap-md);
    border-radius: 20px;
}

.logout-form-kds > h2 {
    font-size: var(--font-xl);
    font-weight: bold;
    color: var(--orange);
}

.logout-bottom-kds {
    display: flex;
    gap: var(--gap-md);
}

#logout-btn-kds {
    display: flex;
    background-color: var(--orange);
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

#logout-btn-kds > button {
    color: black;
    font-weight: bold;
    font-size: var(--font-md);
}

.logout-bottom-kds > p {
    background-color: var(--orange);
    padding: 10px;
    font-weight: bold;
    color: black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-bottom-kds > p > a {
    font-size: var(--font-md);
}

.login-form-kds {
    display: flex;
    flex-flow: column;
    background-color: var(--purple);
    margin-top: 50px;
    padding: 40px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
}

.login-form-kds > h2 {
    color: var(--orange);
    font-size: var(--font-xl);
    font-weight: bold;
}

.login-form-bottom-kds {
    background-color: var(--orange);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 30px;
}

#login-form-inner-kds {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-md);
}

#login-form-inner-kds > p {
    display: flex;
    width: 100%;
    gap: var(--gap-sm);
}

.helptext > a {
    color: var(--purple);
    text-decoration: underline;
}

#id_remember {
    width: 15px;
    height: 15px;
    background-color: white;
    border: 1px solid black;
}

#id_remember:checked {
    width: 15px;
    height: 15px;
    background-color: black;
    border: 1px solid black;
}

#login-form-inner-kds > p:nth-child(4) {
    display: flex;
    align-items: center;
}

#login-form-inner-kds > button {
    font-size: var(--font-md);
    background-color: var(--purple);
    border-radius: 10px;
    width: 80px;
    color: var(--orange);
    font-weight: bold;
    padding: 10px;
    transition: 0.2s ease;
}

#login-form-inner-kds > button:hover {
    background-color: #4a2852;
}

.social-login-container-kds {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    padding: 10px 0 10px 0;
    border-radius: 10px;
    border: 3px solid var(--purple);
}

.social-login-container-kds > h3 {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: var(--font-md);
    font-weight: bold;
}

.social-login-container-kds > h3::after {
    content: "";
    width: 300px;
    height: 3px;
    background-color: var(--purple);
    margin-top: 10px;
}

.social-login-container-kds > a {
    text-decoration: underline;
    color: var(--purple);
}

.home-container-kds {
    display: flex;
    flex-flow: column;
    gap: var(--gap-xl);
    justify-content: center;
    align-items: center;
    margin-top: 230px;
}

.home-title-kds {
    font-size: 60px;
    color: var(--purple);
    font-weight: bold;
}

.start-btn-kds {
    background-color: var(--purple);
    padding: 10px;
    font-size: var(--font-xl);
    color: var(--orange);
    border-radius: 20px;
    font-weight: bold;
    transition: 0.2s ease;
}

.start-btn-kds:hover {
    background-color: var(--deep-purple);
}

.footer-kds {
    position: absolute;
    bottom: 0;
    background-color: var(--purple);
    width: 100%;
    padding: 20px 50px 20px 80px;
    height: var(--HeadFoot-height);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.our-identity-kds {
    color: var(--orange);
    font-size: var(--font-lg);
    font-weight: bold;
}