{% extends 'base.html' %}
{% load static %}

{% block head_title %}반격하기 | Piro Card Game{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/start_game.css' %}">
<style>
  .align-left {
    text-align: left;
    width: 100%;
    color: var(--orange);
    margin-bottom: 10px;
  }
</style>
{% endblock %}

{% block content %}
<div class="start-game-container-kds">
  <div class="start-game-box-kds">
    {% if game.defender_card %}
      <h2 class="start-game-title-kds">{{ game.attacker.username }} VS {{ game.defender.username }}</h2>
      <hr style="width: 100%; border: 1px solid var(--orange); margin-bottom: 20px;">

      <p class="align-left">숫자가 작은 사람이 이깁니다.</p>
      <p class="align-left">{{ game.attacker.username }}: {{ game.attacker_card }}</p>
      <p class="align-left">{{ game.defender.username }}: {{ game.defender_card }}</p>
      <p class="align-left">
        결과:
        {% if game.attacker_card == game.defender_card %}
          👑 무승부 👑
        {% elif game.winner == game.defender %}
          👑 승리 👑
        {% else %}
          패배
        {% endif %}
      </p>
      <p class="align-left">점수 {{ game.defender_score_change }}</p>

      <a href="{% url 'game_list' %}">
        <button class="attack-btn-kds" style="margin-top: 30px;">전체 목록</button>
      </a>
      
    {% else %}
      <h2 class="start-game-title-kds">반격할 카드:</h2>
      <form method="post">
        {% csrf_token %}
        <div class="card-list-kds">
          {% for card in card_choices %}
            <label class="card-radio-kds">
              <input type="radio" name="selected_card" value="{{ card }}" required>
              <span>{{ card }}</span>
            </label>
          {% endfor %}
        </div>
        <button type="submit" class="attack-btn-kds" style="margin-top: 20px;">Counter Attack</button>
      </form>
    {% endif %}
  </div>
</div>
{% endblock %}
